.navbar{

    background-color: #96172e;
    border-color: #96172e;
}

.navbar-inverse .navbar-brand {
    color: #dcdcdc;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
.bulle-verte{

    background-color: #5cb85c; 
    color: #fff;
}
.bulle-jaune{
    background-color: #ffd633;
    color: #fff;
}
.bulle-bleu{
    background-color: #3366ff;
    color: #fff;
}
.bulle-rouge,.barre-rouge{
    background-color: #FA5858;
    color: #fff;
}
.bulle {
    
    height: 150px;
    font-size: 20px;
    text-align: middle;
}


.nom-article{
    margin-top: 20px;
}
.prix-article{
    margin-top: 20px;
}

