body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eeeeee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
h1{
    max-width: 200px;
   margin: 30 auto;

}
.bouton-connexion{
    margin-top: 10px;
}
.bouton-carte{
    margin: 0 auto;
    margin-top: 30px;
    max-width: 300px;
}